* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
    width: 100%;
    height: 100vh;
    background-image: url(pic/aaa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    color: rgb(82, 82, 82);
    padding: 30px;
    font-weight: 500;
}
.box-title {
    width: 650px;
    padding: 30px;
    margin: 0 auto;
    margin-left: 25%;
}
.box-title_title{
    padding-bottom: 30px;
    color: rgb(34, 34, 34);
    font-size: 44px;
}
.box-title__main{
    color: rgb(37, 37, 37);
    font-size: 22px;
    letter-spacing: 1px;
    text-shadow: 3px 3px 2px rgba(128, 128, 128, 0.62);
}
p {
    font-family: 'Georgia', 'Times New Roman', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 46px;
    color: #333333;
    padding: 30px;
    background-color: antiquewhite;
    
    
    
  }
  q {
    quotes: '«' '»';
    color:#CD5C5C	;
    background-color: antiquewhite;
  }
.container-link{
    height: 800px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
}
.box-link-1,
.box-link-2,
.box-link-3{ 
    padding: 20px;
    width: 80%;
    background-color: rgb(199, 199, 199);
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-link__link{
    background-color: rgb(51, 50, 50);
    background-size: cover;
    height: 300px;
    width: 275px;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.box-link__link a {
    font-size: 32px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
}
.box1 {
    background-image: url(pic/nathan-dumlao-5eROVOJW2bA-unsplash.jpg);
    background-size: cover;
}
.box2 {
    background-image: url(pic/big_428498.jpg);
    background-size: cover;
}
.box3 {
    background-image: url(pic/monika-grabkowska-pCxJvSeSB5A-unsplash.jpg);
    background-size: cover;
}
.box4 {
    background-image: url(pic/kobby-mendez-q54Oxq44MZs-unsplash.jpg);
    background-size: cover;
}
.box5 {
    background-image: url(pic/ben-kolde-FFqNATH27EM-unsplash.jpg);
    background-size: cover;
}
.box6 {
    background-image: url(pic/richard-brutyo-RXP4tr0isG0-unsplash.jpg);
    background-size: cover;
}
.box7 {
    background-image: url(pic/);
    background-size: cover;
}
.box8 {
    background-image: url(pic/borsch.jpg);
    background-size: cover;
}
.box9{
    background-image: url(pic/b2c443b3.jpg);
    background-size: cover;
}
.box10 {
    background-image: url(pic/shhi-iz-kisloj-kapusty-s-gribami.jpg);
    background-size: cover;
}
.first-meal{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-box{
    padding-top: 50px;
    width: 100%;
    background-color: antiquewhite;
}
.lala {
    display: flex;
    justify-content: center;
}
footer {
    height: 10vh;
    background-color: #a35f5f;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav li{
    display: inline;
    padding: 0 30px;
    font-size: 18px;
}
.footer-nav{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 300;
}
.footer-nav :hover {
    color: aquamarine;
}